* {
  font-family: Ubuntu, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Order-entry {
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.Submit-order {
  shape-margin: 1em;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 10em;
  text-align: left;
}

input {
  display: inline-block;
  float: right;
}

.Delete {
  background:url(./delete.png) no-repeat;
  cursor:pointer;
  border:none;
  width:15px;
  height:15px;
}

P {
  display: inline-block;
  margin: 0;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
